.post-container {
  width: 60vh;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  font: 'Arial';
  border-radius: 15px;
  border-color: #0f0fd9;
  flex-direction: column;
  gap: 12px;
  box-sizing: border-box;
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
}

.space
{
  height:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.author {
  font-weight: bold;
  flex: 1;
  padding-left: 12px;
  padding-top: 10px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 12px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.save {
  margin-left: auto;
}

.likes {
  padding-left: 12px;
  font-weight: bold;
}

.comments {
  padding: 0 12px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: #444;
}

.view-comments {
  color: #0f0fd9;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

.coment {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.time {
  padding-left: 12px;
  font-size: 12px;
  color: #aaa;
  padding-bottom: 10px;
}
